@font-face {
    font-family: 'Exo2-regular';
    font-display: swap;
    src: url('../fonts/Exo2-Regular.woff2') format('woff2'),
         url('../fonts/Exo2-Regular.woff') format('woff'),
         url('../fonts/Exo2-Regular.eot'),
         url('../fonts/Exo2-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-bold';
    font-display: swap;
    src: url('../fonts/Exo2-Bold.woff2') format('woff2'),
         url('../fonts/Exo2-Bold.woff') format('woff'),
         url('../fonts/Exo2-Bold.eot'),
         url('../fonts/Exo2-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-regular';
    font-display: swap;
    src: local('Roboto-regular'),
         url('../fonts/Roboto-Regular.woff2') format('woff2'),
         url('../fonts/Roboto-Regular.woff') format('woff'),
         url('../fonts/Roboto-Regular.eot'),
         url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-medium';
    font-display: swap;
    src: local('Roboto-medium'),
         url('../fonts/Roboto-Medium.woff2') format('woff2'),
         url('../fonts/Roboto-Medium.woff') format('woff'),
         url('../fonts/Roboto-Medium.eot'),
         url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-bold';
    font-display: swap;
    src: local('Roboto-bold'),
         url('../fonts/Roboto-Bold.woff2') format('woff2'),
         url('../fonts/Roboto-Bold.woff') format('woff'),
         url('../fonts/Roboto-Bold.eot'),
         url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}

